<%- include('../includes/main.ejs') %>

<%- include('../includes/navigation.ejs') %>
    <div class="form-control">
        <form action="/auth/newPassword" method="POST" novalidate>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <h2 class="center">Create New Password</h2>
            <div class="form-input">
                <label for="newPassword">New Password</label>
                <input type="password" name="newPassword" placeholder="Enter new password" value="<%= newPassword %>" required />
                <% if(errors.newPassword){ %>
                    <p class="input-error"><%= errors.newPassword %></p>
                <% } %>
            </div>
            <div class="form-input">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" name="confirmPassword" placeholder="Enter confirm password" value="<%= confirmPassword %>" required />
                <% if(errors.confirmPassword){ %>
                    <p class="input-error"><%= errors.confirmPassword %></p>
                <% } %>
            </div>
            <div class="center">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>