<%- include('../includes/main.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<%- include('../includes/navigation.ejs') %>
    <div class="form-control">
        <form action="/auth/newPassword" method="POST" novalidate>
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="resetToken" value="<%= resetToken %>">
            <h2 class="center">Create New Password</h2>
            <div class="form-input">
                <label for="pass">New Password:</label>
                <div style="position: relative;">
                    <input type="password" id="pass" name="newPassword" placeholder="Enter new password" value="<%= newPassword %>" required style="width: 94%;">
                    <i id="togglePassword" class="fa fa-eye" style="
                      position: absolute;
                      top: 50%;
                      right: 4px;
                      transform: translateY(-50%);
                      cursor: pointer;
                      color: rgb(0, 0, 0);
                    "></i>
                </div>
                <% if (errors && errors.newPassword) { %>
                    <p class="input-error"><%= errors.newPassword %></p>
                <% } %>
            </div>
            <div class="form-input">
                <label for="pass">Password:</label>
                <div style="position: relative;">
                    <input type="password" id="pass" name="confirmPassword" style="width: 94%;" placeholder="Enter confirm password" value="<%= confirmPassword %>" required>
                    <i id="togglePassword" class="fa fa-eye" style="
                      position: absolute;
                      top: 50%;
                      right: 4px;
                      transform: translateY(-50%);
                      cursor: pointer;
                      color: rgb(0, 0, 0);
                    "></i>
                </div>
                <% if (errors && errors.confirmPassword) { %>
                    <p class="input-error"><%= errors.confirmPassword %></p>
                <% } %>
            </div>
            <div class="center">
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
    <script>
        const togglePassword = document.getElementById('togglePassword');
        const passwordInput = document.getElementById('pass');

        togglePassword.addEventListener('click', function () {
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            // Toggle eye / eye-slash icon
            this.classList.toggle('fa-eye');
            this.classList.toggle('fa-eye-slash');
        });
    </script>
    </body>
</html>