<%- include('../includes/main.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<%- include('../includes/header.ejs') %>

        <div class="form-control">
            <h2 class="center">User Login</h2>

            <%- include('../includes/flash.ejs') %>
            
            <form action="/auth/login" method="POST" novalidate>
                <div class="form-input">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= formData ? formData.email : '' %>">
                    <% if (errors && errors.email) { %>
                        <p class="input-error"><%= errors.email %></p>
                    <% } %>
                </div>
        
                <div class="form-input">
                    <label for="pass">Password:</label>
                    <div style="position: relative;">
                        <input type="password" id="pass" name="password" style="width: 94%;">
                        <i id="togglePassword" class="fa fa-eye" style="
                          position: absolute;
                          top: 50%;
                          right: 4px;
                          transform: translateY(-50%);
                          cursor: pointer;
                          color: rgb(0, 0, 0);
                        "></i>
                    </div>
                    <% if (errors && errors.password) { %>
                        <p class="input-error"><%= errors.password %></p>
                    <% } %>
                </div>

                <div class="center">
                    <button class="btn" type="submit">Login</button>
                </div>

                <div class="center">
                    <p><a href="/auth/forgotPassword">Forgot password?</a></p>
                </div>

                <div class="center">
                    <p>Don't have an account? <a href="/auth/register">Register</a></p>
                </div>
            </form>
        </div>
        <%- include('../includes/flashScript.ejs') %>
        <script>
            const togglePassword = document.getElementById('togglePassword');
            const passwordInput = document.getElementById('pass');

            togglePassword.addEventListener('click', function () {
                const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                passwordInput.setAttribute('type', type);

                // Toggle eye / eye-slash icon
                this.classList.toggle('fa-eye');
                this.classList.toggle('fa-eye-slash');
            });
        </script>
        <script src="/js/preventBack.js"></script>
    </body>
</html>
