<%- include('../includes/main.ejs') %>
    <link rel="stylesheet" href="/css/table.css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <style>
        .custom-table th td:nth-child(5),
        .custom-table tr td:nth-child(5) {
            text-align: center;
        }
        .itemsPerPageForm {
            margin-top: -3.7rem;
            margin-right: 3rem;
            margin-left: 1rem;
        }
        .pagination {
            margin-top: 1rem;
        }
        .pagination a {
            color: black;
        }
        .search-bar {
            display: flex;
            flex-wrap: nowrap;
            margin: 2rem auto 1rem;
            justify-content: space-around;
            align-items: center;
        }
        form .search-form {
            width: 25rem;
        }
        .search-bar .viewAll select,
        .itemsPerPageForm form select {
            padding: 0.25rem;
        }
        .search-bar .status {
            display: block;
            margin-left: 1rem;
        }
        /* Toggle switch style */
        .switch {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 20px;
        }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0; left: 0;
            right: 0; bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 24px;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 16px;
            top: 2px;
            left: 3px;
            bottom: 2px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
        input:checked + .slider {
            background-color: #54ce58;
        }
        input:checked + .slider:before {
            transform: translateX(18px);
        }
    </style>
    <%- include('../includes/navigation.ejs') %>

    
    <div class="container">
        <div class="search-bar">
            <form action="/admin/recruiters" method="GET" id="serch-form">
                <div class="form-input search-form" style="position: relative;">
                    <input
                        type="text"
                        name="search"
                        id="search"
                        placeholder="Search recruiters by name or email..."
                        value="<%= searchQuery %>"
                        style="padding-right: 35px;"
                    >
                    <button type="submit" style="
                        position: absolute;
                        right: 2px;
                        top: 15%;
                        background: none;
                        border: none;
                        cursor: pointer;
                        font-size: 1rem;
                        ">
                        <i class="fas fa-search"></i>
                    </button>
                </div>      
            </form>
        
            <form action="/admin/recruiters" method="GET" id="statusForm">
                <div class="form-input status">
                    <label for="status">Status:</label>
                    <select name="status" id="status">
                        <option value="All" <%= status === 'all' ? 'selected' : '' %>>All</option>
                        <option value="active" <%= status === 'active' ? 'selected' : '' %>>Active</option>
                        <option value="inactive" <%= status === 'inactive' ? 'selected' : '' %>>Inactive</option>
                    </select>
                </div>
                <input type="hidden" name="search" id="searchQuery" value="<%= searchQuery %>">
            </form>
        </div>
        <%- include('../includes/flash.ejs') %>
        <!-- Recruiters Table -->
        <h2 class="section-title">Recruiters</h2>
        <% if(recruiters.length === 0) { %>
            No recruiters found.
        <% }else { %>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% let recruiterCount = (recruiterPage - 1) * userLimit + 1; %>
                    <% recruiters.forEach(user => { %>
                        <tr>
                            <td><%= recruiterCount++ %></td>
                            <td><%= user.firstName %> <%= user.lastName %></td>
                            <td><%= user.email %></td>
                            <td><%= user.company || "N/A" %></td>
                            <td>
                                <form method="POST" action="/admin/toggleUserStatus/<%= user.role %>" class="status-form">
                                    <input type="hidden" name="userId" value="<%= user._id %>">
                                    <input type="hidden" name="isActive" value="<%= !user.isActive %>">
                                    <label class="switch">
                                        <input
                                            type="checkbox"
                                            <%= user.isActive ? 'checked' : '' %>
                                            onchange="this.closest('form').submit()"
                                        >
                                        <span class="slider round"></span>
                                    </label>
                                </form>
                            </td>
                            <td>
                                <div class="actions">
                                    <form action="/admin/viewUserProfile/<%= user._id %>" method="GET">
                                        <button class="btn edit-btn" type="submit">View</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <!-- Pagination for Recruiters -->
            <% if (totalRecruiterPages >= 1) { %>
                <div class="pagination" id="recruiterPagination">
                    <ul class="pagination-list">
                        <% if (recruiterPage > 1) { %>
                            <a href="?recruiterPage=<%= recruiterPage - 1 %>&userLimit=<%= userLimit %>&search=<%= searchQuery %>&status=<%= status %>"><li>Prev</li></a>
                        <% } %>
                        <% if (recruiterPage > 2) { %>
                            <a href="?recruiterPage=1&userLimit=<%= userLimit %>&search=<%= searchQuery %>&status=<%= status %>"><li>1</li></a>
                        <% } %>
                        <span> Page <%= recruiterPage %> of <%= totalRecruiterPages %> </span>
                        <% if (recruiterPage < (totalRecruiterPages - 1)) { %>
                            <a href="?recruiterPage=<%= totalRecruiterPages %>&userLimit=<%= userLimit %>&search=<%= searchQuery %>&status=<%= status %>"><li><%= totalRecruiterPages %></li></a>
                        <% } %>
                        <% if (recruiterPage < totalRecruiterPages) { %>
                            <a href="?recruiterPage=<%= recruiterPage + 1 %>&userLimit=<%= userLimit %>&search=<%= searchQuery %>&status=<%= status %>"><li>Next</li></a>
                        <% } %>
                    </ul>
                </div>
                <!-- Items per Page Form -->
                <div class="itemsPerPageForm">
                    <form id="userItemsPerPageForm" method="GET" class="items-per-page-form">
                        <div class="form-input">
                        <label for="userLimit">Items per page:</label>
                        <select name="userLimit" id="userLimit">
                            <option value="5" <%= userLimit == 5 ? "selected" : "" %>>5</option>
                            <option value="10" <%= userLimit == 10 ? "selected" : "" %>>10</option>
                            <option value="15" <%= userLimit == 15 ? "selected" : "" %>>15</option>
                            <option value="All" <%= userLimit == Number.MAX_SAFE_INTEGER ? "selected" : "" %>>All</option>
                        </select>
                        </div>
                        <input type="hidden" name="recruiterPage" id="recruiterPage" value="<%= recruiterPage %>">
                        <input type="hidden" name="search" id="searchQuery" value="<%= searchQuery %>">
                        <input type="hidden" name="status" id="statusQuery" value="<%= status %>">
                    </form>      
                </div>
            <% } %>  
        <% } %>
    </div>

    <%- include('../includes/flashScript.ejs') %>

    <script>
        document.getElementById("userLimit").addEventListener("change", function () {
            document.getElementById("recruiterPage").value = 1;
            document.getElementById("searchQuery").value = document.getElementById("search").value;
            document.getElementById('statusQuery').value = document.getElementById('status').value
            document.getElementById("userItemsPerPageForm").submit();
        });
        document.getElementById('status').addEventListener("change", function() {
            document.getElementById("recruiterPage").value = 1;
            document.getElementById('searchQuery').value = document.getElementById('search').value;
            document.getElementById('statusQuery').value = document.getElementById('status').value
            document.getElementById('statusForm').submit()
        })
    </script>
    <script src="/js/preventBack.js"></script>
</body>
</html>
