<%- include('../includes/main.ejs') %>
    <link rel="stylesheet" href="/css/table.css">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <style>
        .itemsPerPageForm {
            margin-top: -3.7rem;
            margin-right: 3rem;
            margin-left: 1rem;
        }
        .pagination {
            margin-top: 1rem;
        }
        .pagination a {
            color: black;
        }
        form .search-form {
            width: 35%;
        }
        form .search-form {
            margin: 2rem auto;
        }
        form .search-form input {
            height: 1.5rem;
        }
    </style>
    <%- include('../includes/navigation.ejs') %>

    <form action="/admin/recruiters" method="GET" id="serch-form">
        <div class="form-input search-form" style="position: relative;">
            <input
            type="text"
            name="search"
            id="search"
            placeholder="Search recruiters by name, email or status"
            value="<%= searchQuery %>"
            style="padding-right: 35px;"
            >
            <button type="submit" style="
            position: absolute;
            right: 4px;
                top: 20%;
                background: none;
                border: none;
                cursor: pointer;
                font-size: 1.1rem;
                ">
                <i class="fas fa-search"></i>
            </button>
        </div>      
    </form>

    <div class="container">
        <%- include('../includes/flash.ejs') %>
        <!-- Recruiters Table -->
        <h2 class="section-title">Recruiters</h2>
        <% if(recruiters.length === 0) { %>
            No recruiters found.
        <% }else { %>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Company</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% let recruiterCount = (recruiterPage - 1) * userLimit + 1; %>
                    <% recruiters.forEach(user => { %>
                        <tr>
                            <td><%= recruiterCount++ %></td>
                            <td><%= user.firstName %> <%= user.lastName %></td>
                            <td><%= user.email %></td>
                            <td><%= user.company || "N/A" %></td>
                            <td><%= user.isActive ? 'Active' : 'Inactive' %></td>
                            <td>
                                <div class="actions">
                                    <form action="/admin/viewUserProfile/<%= user._id %>" method="GET">
                                        <button class="btn edit-btn" type="submit">View</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <!-- Pagination for Recruiters -->
            <% if (totalRecruiterPages >= 1) { %>
                <div class="pagination" id="recruiterPagination">
                    <ul class="pagination-list">
                        <% if (recruiterPage > 1) { %>
                            <a href="?recruiterPage=<%= recruiterPage - 1 %>&userLimit=<%= userLimit %>&search=<%= searchQuery %>#recruiterPagination"><li>Prev</li></a>
                        <% } %>
                        <% if (recruiterPage > 2) { %>
                            <a href="?recruiterPage=1&userLimit=<%= userLimit %>&search=<%= searchQuery %>"><li>1</li></a>
                        <% } %>
                        <span> Page <%= recruiterPage %> of <%= totalRecruiterPages %> </span>
                        <% if (recruiterPage < (totalRecruiterPages - 1)) { %>
                            <a href="?recruiterPage=<%= totalRecruiterPages %>&userLimit=<%= userLimit %>&search=<%= searchQuery %>"><li><%= totalRecruiterPages %></li></a>
                        <% } %>
                        <% if (recruiterPage < totalRecruiterPages) { %>
                            <a href="?recruiterPage=<%= recruiterPage + 1 %>&userLimit=<%= userLimit %>&search=<%= searchQuery %>#recruiterPagination"><li>Next</li></a>
                        <% } %>
                    </ul>
                </div>
                <!-- Items per Page Form -->
                <div class="itemsPerPageForm">
                    <form id="userItemsPerPageForm" method="GET" class="items-per-page-form">
                        <div class="form-input">
                        <label for="userLimit">Items per page:</label>
                        <select name="userLimit" id="userLimit">
                            <option value="5" <%= userLimit == 5 ? "selected" : "" %>>5</option>
                            <option value="10" <%= userLimit == 10 ? "selected" : "" %>>10</option>
                            <option value="15" <%= userLimit == 15 ? "selected" : "" %>>15</option>
                            <option value="All" <%= userLimit == Number.MAX_SAFE_INTEGER ? "selected" : "" %>>All</option>
                        </select>
                        </div>
                        <input type="hidden" name="recruiterPage" id="recruiterPage" value="<%= recruiterPage %>">
                        <input type="hidden" name="search" id="searchQuery" value="<%= searchQuery %>">
                    </form>      
                </div>
            <% } %>  
        <% } %>
    </div>

    <%- include('../includes/flashScript.ejs') %>

    <script>
        document.getElementById("userLimit").addEventListener("change", function () {
            document.getElementById("recruiterPage").value = 1;
            document.getElementById("searchQuery").value = document.getElementById("search").value;
            document.getElementById("userItemsPerPageForm").submit();
        });
    </script>
    <script src="/js/preventBack.js"></script>
</body>
</html>
