<%- include('./main.ejs') %>
<link rel="stylesheet" href="/css/navigation.css">

</head>
<body>
  <header class="main-header">
    <nav class="navbar">
      <ul class="nav-list">
          <% if(userRole === 'admin'){ %>
            <li class="nav-item">
              <a href="/admin/jobSeekers" class="<%= path === '/jobSeekers' ? 'active' : '' %>">Job Seekers</a>
            </li>
            <li class="nav-item">
              <a href="/admin/recruiters" class="<%= path === '/recruiters' ? 'active' : '' %>">Recruiters</a>
            </li>
            <li class="nav-item">
              <a href="/admin/jobCategories" class="<%= path === '/jobCategories' ? 'active' : '' %>">Job Categories</a>
            </li>
          <% } else if(userRole === 'jobSeeker'){ %>
            <li class="nav-item">
              <a href="/jobSeeker/home" class="<%= path === '/home' ? 'active' : '' %>">Home</a>
            </li>
            <li class="nav-item">
              <a href="/jobSeeker/jobCategories" class="<%= path === '/jobCategories' ? 'active' : '' %>">Job Categories</a>
            </li>
            <li class="nav-item">
              <a href="/jobSeeker/allJobs" class="<%= path === '/allJobs' ? 'active' : '' %>">All Jobs</a>
            </li>
          <% } else if(userRole === 'recruiter'){ %>
            <li class="nav-item">
              <a href="/recruiter/jobPosts" class="<%= path === '/jobPosts' ? 'active' : '' %>">Job Posts</a>
            </li>
            <li class="nav-item">
              <a href="/recruiter/viewJobSeekers" class="<%= path === '/viewJobSeekers' ? 'active' : '' %>">JobSeekers</a>
            </li>
            <li class="nav-item">
              <a href="/recruiter/viewApplications" class="<%= path === '/viewApplications' ? 'active' : '' %>">Applications</a>
            </li>
          <% } else{ %>
            <li class="nav-item">
              <a href="/">Home</a>
            </li>
          <% } %>
      </ul>
      <ul class="nav-list">
        <% if(!isAuthenticated){ %>
          <li class="nav-item">
            <a href="/auth/register" class="<%= path === '/register' ? 'active' : '' %>">Register</a>
          </li>
          <li class="nav-item">
            <a href="/auth/login" class="<%= path === '/login' ? 'active' : '' %>">Login</a>
          </li>
        <% } else { %>
          <% if(userRole === 'jobSeeker' || userRole === "recruiter"){ %>
            <li class="nav-item">
              <a href="/<%= userRole %>/profile" class="<%= path === '/profile' ? 'active' : '' %>">Profile</a>
            </li>
          <% } %>
          <li class="nav-item">
            <form action="/auth/logout" method="POST">
              <button type="submit" class="logout-btn">Logout</button>
            </form>
          </li>
        <% } %>
      </ul>
    </nav>
  </header>