<%- include('../includes/main.ejs') %>
    <link rel="stylesheet" href="/css/profile.css">
    <style>
        form .save-btn{
            margin-top: -0.5rem;
            background: none;
            border: none;
            font-size: 1.1rem;
        }
        form button:hover{
            cursor: pointer;
        }
        section .title-group {
            display: flex;
            justify-content: space-between;
        }
        form .delete-btn {
            border-color: rgb(249, 44, 44);
        }
        form .delete-btn:hover{
            color: white;
            background-color: rgb(235, 62, 62);
        }
    </style>

    <%- include('../includes/navigation.ejs') %>
        <div class="profile-container">
            <form action="/recruiter/editProfile" class="edit-form" method="POST" enctype="multipart/form-data">
                <%- include('../includes/flashScript.ejs') %>

                <input type="hidden" name="profileId" value="<%= profile._id %>">

                <section>
                    <div class="title-group">
                        <div class="profile-header">
                            <div class="profile-photo">
                                <img src="<%= profile.profilePhoto || '/assets/default_profile.jpg' %>" alt="Profile Photo">
                            </div>
                            <div class="form-input">
                                <label for="profilePhoto">Upload Profile Photo</label>
                                <input type="file" name="profilePhoto" accept="image/*">
                                <% if(errors.profilePhoto){ %>
                                    <p class="input-error"><%= errors.profilePhoto %></p>
                                    <% } %>
                            </div>
                        </div>
                        <button type="submit" class="save-btn">✅</button>
                    </div>
                </section>

                <section>
                    <div class="title-group">
                        <h3>About</h3>
                        <button type="submit" class="save-btn">✅</button>
                    </div>
                    <div class="form-input">
                        <textarea name="about" placeholder="Write something about you..." rows="4"><%= profile.about || formData.about || '' %></textarea>
                        <% if (errors.about) { %>
                            <p class="input-error"><%= errors.about %></p>
                        <% } %>
                    </div>
                </section>

                <section id="companyDetails">
                    <div class="title-group">
                        <h3>Company Details</h3>
                        <button type="submit" class="save-btn">✅</button>
                    </div>
                    <div class="company-details">
                        <div class="form-input">
                            <label for="companyName">Name</label>
                            <input type="text" name="companyName" value="<%= profile.companyName || formData.companyName %>">
                            <% if (errors.companyName) { %>
                                <p class="input-error"><%= errors.companyName %></p>
                            <% } %>
                        </div>
                        <div class="form-input">
                            <label for="position">Your Job Position</label>
                            <input type="text" name="position" placeholder="ex. software engineer" value="<%= profile.position || formData.position %>">
                            <% if (errors.position) { %>
                                <p class="input-error"><%= errors.position %></p>
                            <% } %>    
                        </div>
                        <div class="form-input">
                            <label for="industryType">Industry Type</label>
                            <input type="text" name="industryType" placeholder="ex. IT, Marketing.." value="<%= profile.industryType || formData.industryType %>">
                            <% if (errors.industryType) { %>
                                <p class="input-error"><%= errors.industryType %></p>
                            <% } %>    
                        </div>
                        <div class="form-input">
                            <label for="companyWebsite">Website</label>
                            <input type="text" name="companyWebsite" placeholder="www.myCompany.com" value="<%= profile.companyWebsite || formData.companyWebsite %>">
                            <% if (errors.companyWebsite) { %>
                                <p class="input-error"><%= errors.companyWebsite %></p>
                            <% } %>    
                        </div>
                    </div>
                </section>

                <section>
                    <div class="title-group">
                        <h3>Experieence</h3>
                        <button type="submit" class="save-btn">✅</button>
                    </div>
                    <% 
                        let experienceList = 
                            (profile.experience && profile.experience.length > 0) 
                            ? [...profile.experience] 
                            : (formData.experience && formData.experience.length > 0) 
                                ? [...formData.experience] 
                                : [{}]; 

                        experienceList.sort((a, b) => {
                            const dateA = new Date(a.endDate || a.startDate || 0);
                            const dateB = new Date(b.endDate || b.startDate || 0);
                            return dateB - dateA; // descending
                        }) 
                    %>
                    <input type="hidden" id="experienceIndexHolder" value="<%= experienceList.length %>">

                    <% experienceList.forEach((exp, index) => { %>
                      <div class="experience-card">
                        <div class="form-input">
                          <label>Position</label>
                          <input type="text" placeholder="ex. software engineer" name="experience[<%= index %>][position]" value="<%= exp.position || '' %>">
                          <% if (errors[`experience.${index}.position`]) { %>
                            <p class="input-error"><%= errors[`experience.${index}.position`] %></p>
                          <% } %>
                        </div>
                        <div class="form-input">
                          <label>Company</label>
                          <input type="text" placeholder="ex. Google, Amazon..." name="experience[<%= index %>][company]" value="<%= exp.company || '' %>">
                          <% if (errors[`experience.${index}.company`]) { %>
                            <p class="input-error"><%= errors[`experience.${index}.company`] %></p>
                          <% } %>
                        </div>
                        <div class="input-group">
                          <div class="form-input">
                            <label>Start Date</label>
                            <input type="date" name="experience[<%= index %>][startDate]" value="<%= exp.startDate ? new Date(exp.startDate).toISOString().split('T')[0] : '' %>">
                            <% if (errors[`experience.${index}.startDate`]) { %>
                                <p class="input-error"><%= errors[`experience.${index}.startDate`] %></p>
                              <% } %>
                          </div>
                          <div class="form-input">
                            <label>End Date</label>
                            <input type="date" name="experience[<%= index %>][endDate]" value="<%= exp.endDate ? new Date(exp.endDate).toISOString().split('T')[0] : '' %>">
                            <% if (errors[`experience.${index}.endDate`]) { %>
                                <p class="input-error"><%= errors[`experience.${index}.endDate`] %></p>
                              <% } %>
                          </div>
                        </div>
                        <div class="form-input">
                          <label>Description</label>
                          <textarea name="experience[<%= index %>][description]" placeholder="Write briefly about your experience.."><%= exp.description || '' %></textarea>
                          <% if (errors[`experience.${index}.description`]) { %>
                            <p class="input-error"><%= errors[`experience.${index}.description`] %></p>
                          <% } %>
                        </div>
                      </div>
                    <% }) %>
                  
                    <div id="experience-container"></div>
                    <button type="button" class="btn" onclick="addExperience()" style="font-size: 1rem;">+ Add Experience</button>
                </section>                  

                <section>
                    <div class="title-group">
                        <h3>Education</h3>
                        <button type="submit" class="save-btn">✅</button>
                    </div>
                    <div class="form-input">
                        <label>College</label>
                        <input type="text" name="college" placeholder="ex. L. D. College of Engineering" value="<%= profile.education?.college || '' %>">
                        <% if (errors["education.college"]) { %>
                            <p class="input-error"><%= errors['education.college'] %></p>
                        <% } %>
                    </div>
                    <div class="form-input">
                        <label>Degree</label>
                        <input type="text" name="degree" placeholder="ex. B.E., M.E." value="<%= profile.education?.degree || '' %>">
                        <% if (errors["education.degree"]) { %>
                            <p class="input-error"><%= errors['education.degree'] %></p>
                        <% } %>
                    </div>
                    <div class="form-input">
                        <label>Branch</label>
                        <input type="text" name="branch" placeholder="ex. IT, CE.." value="<%= profile.education?.branch || '' %>">
                        <% if (errors["education.branch"]) { %>
                            <p class="input-error"><%= errors['education.branch'] %></p>
                        <% } %>
                    </div>
                    <div class="form-input">
                        <label>Grade</label>
                        <input type="number" name="grade" placeholder="10.0" step="0.01" value="<%= profile.education?.grade || '' %>">
                        <% if (errors["education.grade"]) { %>
                            <p class="input-error"><%= errors['education.grade'] %></p>
                        <% } %>
                    </div>
                    <div class="input-group">
                        <div class="form-input">
                            <label for="startYear">Starting Year</label>
                            <input type="date" name="startYear" value="<%= profile.education.startYear ? new Date(profile.education.startYear).toISOString().split('T')[0] : '' %>">
                            <% if (errors["education.startYear"]) { %>
                                <p class="input-error"><%= errors['education.startYear'] %></p>
                            <% } %>
                        </div>
                        <div class="form-input" style="margin-left: 1rem;">
                            <label for="passingYear">Passing Year</label>
                            <input type="date" name="passingYear" value="<%= profile.education.passingYear ? new Date(profile.education.passingYear).toISOString().split('T')[0] : '' %>">
                            <% if (errors["education.passingYear"]) { %>
                                <p class="input-error"><%= errors['education.passingYear'] %></p>
                            <% } %>
                        </div>
                    </div>
                </section>

                <section>
                    <div class="title-group">
                        <h3>Skills</h3>
                        <button type="submit" class="save-btn">✅</button>
                    </div>
                    <div class="form-input">
                        <label>Enter skills separated by commas (e.g., JavaScript, React,...)</label>
                        <input type="text" name="skills" placeholder="ex. skill1, skill2,.." value="<%= profile.skills?.join(', ') %>">
                        <% if (errors.skills) { %>
                            <p class="input-error"><%= errors.skills %></p>
                        <% } %>
                    </div>
                </section>

                <div style="text-align: center; margin-top: 2rem;">
                    <button type="submit" class="btn">Save Changes</button>
                    <a href="/jobSeeker/profile" class="delete-btn btn">Cancel</a>
                </div>
            </form>
        </div>
        <script src="/js/editProfile.js"></script>
    </body>
</html>
