<%- include('../includes/main.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<style>
    .custom-table th:nth-child(4),
    .custom-table td:nth-child(4),
    .custom-table th:nth-child(6),
    .custom-table td:nth-child(6){
        text-align: center;
    }
    .add-job-btn {
        text-align: right;
        margin-right: 3rem;
        margin-top: 2rem;
    }
    .itemsPerPageForm {
      margin-top: -3.7rem;
      margin-left: 1rem;
    }
    .center .delete-btn {
      color: red;
      border: 1px solid red;
    }
    .center .delete-btn:hover{
      color: white;
      background-color: red;
    }
</style>
<%- include('../includes/navigation.ejs') %>

        <%- include('../includes/flash.ejs') %>
        
        <div class="add-job-btn">
          <a href="/recruiter/addNewJob" class="add-new-btn btn">Post New Job</a>
        </div>

        <div class="container">
            <h2 class="section-title">Jobs Posted by you</h2>
            <% if(jobListings.length == 0){ %>
                <h4>No job listings found.</h4>
            <% } else { %>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Sr. No.</th>
                            <th>Job Title</th>
                            <th>Category</th>
                            <th>Experience</th>
                            <th>Salary</th>
                            <th>Vacancy</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% let jobPostCount = 1; %>
                        <% jobListings.forEach(jobPost => { %>
                                <tr>
                                    <td><%= jobPostCount++ %></td>
                                    <td><%= jobPost.jobDetail.jobTitle %></td>
                                    <td><%= jobPost.category %></td>
                                    <td><%= jobPost.jobDetail.experience %> Years</td>
                                    <td><%= jobPost.jobDetail.salary %></td>
                                    <% if (jobPost.jobDetail.vacancy === 0) { %>
                                        <td style="color: red; font-weight: bold">Hiring over</td>
                                    <% } else { %>
                                        <td><%= jobPost.jobDetail.vacancy %></td>
                                    <% } %>                                
                                    <td>
                                        <div class="actions">
                                            <% if(jobPost.jobDetail.vacancy !== 0){ %>
                                              <form action="/recruiter/editJobPost/<%= jobPost._id %>" method="GET">
                                                <button type="submit" class="edit-btn btn">Edit</button>
                                              </form>
                                            <% } else{ %>
                                              <form action="/recruiter/editJobPost/<%= jobPost._id %>" method="GET">
                                                <button type="submit" class="edit-btn btn" disabled>Edit</button>
                                              </form>
                                            <% } %>
                                            <form action="/recruiter/deleteJobPost" method="POST">
                                                <input type="hidden" name="jobPostId" value="<%= jobPost._id %>">
                                                <button type="submit" class="delete-btn btn">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                        <% }); %>
                    </tbody>
                </table>
                <%- include('../includes/pagination.ejs') %>
                <div class="itemsPerPageForm">
                  <form id="itemsPerPageForm" method="GET" class="items-per-page-form">
                      <div class="form-input">
                          <label for="limit">Items per page:</label>
                          <select name="limit" id="limit">
                              <option value="3" <%= limit === 3 ? "selected" : "" %>>3</option>
                              <option value="5" <%= limit === 5 ? "selected" : "" %>>5</option>
                              <option value="10" <%= limit === 10 ? "selected" : "" %>>10</option>
                          </select>
                      </div>
                      <input type="hidden" id="page" name="page" value="<%= currentPage %>">
                  </form>
              </div>
            <% } %>
        </div>       
        <%- include('../includes/flashScript.ejs') %>
        <script src="/js/preventBack.js"></script>
    </body>
</html>