<%- include('../includes/main.ejs') %>
    <link rel="stylesheet" href="/css/table.css">
    <style>
        .custom-table td .resume-btn,
        .custom-table td .shortlist-btn {
            border: 1px solid #007bff;
            margin-top: 0;
        }
        .container{
          margin-top: 3rem;
        }
        .itemsPerPageForm {
            margin-top: -3.7rem;
            margin-left: 1rem;
        }
    </style>
    <%- include('../includes/navigation.ejs') %>
    <%- include('../includes/flash.ejs') %>
        <div class="container">
            <h2 class="section-title">Applications</h2>
            <% if(applications.length > 0){ %>
                <div class="table">
                    <table class="custom-table">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Applied For</th>
                                <th>Resume</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let applicationCount = 1; %>
                            <% applications.forEach(application => { %>
                                <tr>
                                    <td><%= applicationCount++ %></td>
                                    <td><%= application.user.name %></td>
                                    <td><%= application.user.email %></td>
                                    <td><%= application.jobDetail.jobTitle %></td>
                                    <td><a href="<%= application.resumeLink %>" target="_blank" class="btn resume-btn">View</a></td>
                                    <td>
                                        <% if(application.applicationStatus === 'Shortlisted'){ %>
                                            Shortlisted
                                        <% } else if(application.applicationStatus === 'Rejected'){ %>
                                            Rejected
                                        <% } else { %>
                                            <form action="/recruiter/shortlist/<%= application._id %>" method="GET">
                                                <button type="submit" class="btn shortlist-btn">Shortlist</button>
                                            </form>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                    <%- include('../includes/pagination.ejs') %>
                    <div class="itemsPerPageForm">
                        <form id="itemsPerPageForm" method="GET" class="items-per-page-form">
                            <div class="form-input">
                                <label for="applicationLimit">Items per page:</label>
                                <select name="applicationLimit" id="applicationLimit">
                                    <option value="5" <%= appLimit === 5 ? "selected" : "" %>>5</option>
                                    <option value="10" <%= appLimit === 10 ? "selected" : "" %>>10</option>
                                    <option value="15" <%= appLimit === 15 ? "selected" : "" %>>15</option>
                                    <option value="All" <%= appLimit === Number.MAX_SAFE_INTEGER ? "selected" : "" %>>All</option>
                                </select>
                            </div>
                            <!-- Keep the current pages to reset to 1 -->
                            <input type="hidden" name="applicationPage" value="1">
                        </form>
                    </div>
                </div>
            <% } else { %>
                <p style="font-size: 1.25rem;">No applications found.</p>
            <% } %>
        </div>
        <%- include('../includes/flashScript.ejs') %>
        <script>
            const form = document.getElementById("itemsPerPageForm");
            document.getElementById("applicationLimit").addEventListener("change", () => form.submit());
        </script>          
        <script src="/js/preventBack.js"></script>
    </body>
</html>