<%- include('../includes/main.ejs') %>
    <style>
        .btn {
            font-size: 1.1rem;
        }
        .delete-btn {
            border: 1px solid red;
            color: #ff0000;
        }
        .delete-btn:hover{
            background-color: #ff0000;
            color: #ffffff;
            transition: all 0.3s;
        }
    </style>
    <!-- <%- include('../includes/navigation.ejs') %> -->

    <div class="form-control">
            <div class="center" style="margin-bottom: 0;">
                <p>Applying for</p><h2><%= job.jobDetail.jobTitle %></h2>
            </div>
            <% if (errorMessage) { %>
                <div class="alert alert-danger"><%= errorMessage %></div>
            <% } %>

            <% if (successMessage) { %>
                <div class="alert alert-success"><%= successMessage %></div>
            <% } %>

            <form action="/jobSeeker/applyForJob/<%= job._id %>" method="POST" enctype="multipart/form-data">
                <div class="form-input">
                    <label for="fullName">Full Name</label>
                    <input type="text" name="fullName" value="<%= user.firstName + ' ' + user.lastName %>" readonly>
                </div>

                <div class="form-input">
                    <label for="email">Email</label>
                    <input type="email" name="email" value="<%= user.email %>" readonly>
                </div>

                <div class="form-input">
                    <label for="company">Company</label>
                    <input type="company" name="company" value="<%= job.company %>" readonly>
                </div>

                <div class="form-input">
                    <label for="resume">Upload Resume (PDF)</label>
                    <input type="file" name="resume" accept=".pdf" required>
                </div>

                <div class="center">
                    <button type="submit" class="btn">Submit</button>
                    <a href="/jobSeeker/allJobs" class="delete-btn btn">Cancel</a>
                </div>
            </form>
        </div>

        <%- include('../includes/flashScript.ejs') %>
        <script src="/js/preventBack.js"></script>
    </body>
</html>
