<%- include('../includes/main.ejs') %>
<link rel="stylesheet" href="/css/table.css">
<style>
    .custom-table{
        width: max-content;
    }
    .itemsPerPageForm {
      margin-top: -1rem;
      text-align: center;
    }
    .container{
        margin-top: 3rem;
    }
    .container .page-title {
        margin-bottom: 2rem;
    }
</style>
      <%- include('../includes/navigation.ejs') %>  
        <div class="container">
            <h1 class="page-title">Job Categories</h1>
              
            <%- include('../includes/flash.ejs') %>
            <% if(categories.length === 0) { %>
                No categories found.
            <% }else { %>
            <table class="custom-table">
                <thead>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% let index = (currentPage - 1) * limit + 1; %>
                    <% categories.forEach(category => { %>
                        <tr>
                            <td><%= index++ %></td>
                            <td><%= category.name %> </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <%- include('../includes/pagination.ejs') %>  
            <div class="itemsPerPageForm">
                <form id="itemsPerPageForm" method="GET" class="items-per-page-form">
                    <div class="form-input">
                        <label for="limit">Items per page:</label>
                        <select name="limit" id="limit">
                            <option value="5" <%= limit === 5 ? "selected" : "" %>>5</option>
                            <option value="10" <%= limit === 10 ? "selected" : "" %>>10</option>
                            <option value="15" <%= limit === 15 ? "selected" : "" %>>15</option>
                            <option value="All" <%= limit === Number.MAX_SAFE_INTEGER ? "selected" : "" %>>All</option>
                        </select>
                    </div>
                    <input type="hidden" id="page" name="page" value="<%= currentPage %>">
                </form>
            </div>  
            <% } %>      
        </div>
        <%- include('../includes/flashScript.ejs') %>
        <script>
            document.getElementById("limit").addEventListener("change", function () {
              document.getElementById("page").value = 1; // Reset page
              document.getElementById("itemsPerPageForm").submit(); // Submit form
            });
        </script>
        <script src="/js/preventBack.js"></script>
    </body>
</html> 