<%- include('../includes/main.ejs') %>
    <link rel="stylesheet" href="/css/table.css">
    <style>
        .custom-table th:nth-child(1) {
            text-align: left;
            background-color: #f9f9f9;
        }
        .custom-table td {
            padding: 0.75rem;
        }
        .custom-table{
            min-width: 35rem;
            max-width: 50rem;
        }
        td .btn {
            margin-top: 0;
        }
        .title {
            display: flex;
            justify-content: space-between;
        }
        .badge{
            background-color: #15e14f;
            color: white;
            padding: 4px 8px;
            border-radius: 4px;
        }
        .nav-btns{
            margin-top: 1rem;
            text-align: right;
            margin-right: 3rem;
        }
        .nav-btns .btn {
            font-size: 1rem;
        }
        .disabled {
            pointer-events: none;

        }
        .custom-table td .review-btn {
            border: 1px solid #15e14f;
        }
        .custom-table td .review-btn:hover {
            background-color: #15e14f;
        }
    </style>
    <%- include('../includes/navigation.ejs') %>

        <div class="nav-btns">
            <% if (prevJobId) { %>
                <a href="/jobSeeker/allJobs/<%= prevJobId %>" class="btn">Prev</a>
            <% } else { %>
                <span class="btn disabled">Prev</span>
            <% } %>
        
            <% if (nextJobId) { %>
                <a href="/jobSeeker/allJobs/<%= nextJobId %>" class="btn">Next</a>
            <% } else { %>
                <span class="btn disabled">Next</span>
            <% } %>
        </div>
      
        <div class="container">
            <%- include('../includes/flash.ejs') %>

            <div class="title">
                <h2 class="section-title"><%= jobPost.jobDetail.jobTitle %> - Details</h2>
            <h3>
                <% if(jobPost.jobDetail.isFeatured.endDate >= new Date() && jobPost.jobDetail.vacancy > 0){ %>
                    <span class="badge">Hiring Urgently</span>
                <% } %>
            </h3>
            </div>
            <table class="custom-table">
                <tbody>
                    <tr>
                        <th>Title</th>
                        <td><%= jobPost.jobDetail.jobTitle %></td>
                    </tr>
                    <tr>
                        <th>Category</th>
                        <td><%= jobPost.category %></td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td><%= jobPost.jobDetail.description %></td>
                    </tr>
                    <tr>
                        <th>Requirements</th>
                        <td><%= jobPost.jobDetail.requirements %></td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>
                            <% if (jobPost.jobDetail.locationType === 'On-Site' || jobPost.jobDetail.locationType === 'Hybrid') { %>
                                <%= jobPost.jobDetail.location %> (<%= jobPost.jobDetail.locationType %>)
                            <% } else { %>
                                <%= jobPost.jobDetail.locationType %>
                            <% } %>
                        </td>
                    </tr>            
                    <tr>
                        <th>Company</th>
                        <td><%= jobPost.company %></td>
                    </tr>
                    <tr>
                        <th>Experience</th>
                        <td>
                            <%= jobPost.jobDetail.experience === 0 ? 'Freshers' : `${jobPost.jobDetail.experience} Year` %>
                        </td>                  
                    </tr>
                    <tr>
                        <th>Salary</th>
                        <td><%= jobPost.jobDetail.salary %></td>
                    </tr>
                    <tr>
                        <th>Vacancy</th>
                        <% if (jobPost.jobDetail.vacancy === 0) { %>
                            <td style="color: red; font-weight: bold">Hiring over</td>
                          <% } else { %>
                            <td><%= jobPost.jobDetail.vacancy %></td>
                        <% } %>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>
                            <% if(jobPost.jobDetail.avgRating){ %>
                                <%= jobPost.jobDetail.avgRating %>⭐
                            <% } else { %>
                                N/A
                            <% } %>
                        </td>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <td>
                            <div class="actions">
                                <% if(!savedJob){ %>
                                    <form action="/jobSeeker/saveJobPost" method="POST">
                                        <input type="hidden" name="jobPostId" value="<%= jobPost._id %>">
                                        <button type="submit" class="edit-btn btn">Save</button>
                                    </form>
                                <% }else{ %>
                                    <form action="/jobSeeker/profile/savedJobs/<%= savedJob._id %>" method="POST">
                                        <button type="submit" class="delete-btn btn">Unsave</button>
                                    </form>
                                <% } %>
                                <form action="/jobSeeker/reviewJob/<%= jobPost._id %>" method="GET">
                                    <button type="submit" class="review-btn btn">Rate this job</button>
                                </form>
                                <form action="/jobSeeker/reviews/<%= jobPost._id %>" method="GET">
                                    <button type="submit" class="review-btn btn">View Reviews</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="apply-now center">
                <form action="/jobSeeker/applyForJob/<%= jobPost._id %>" method="GET">
                    <% if(jobPost.jobDetail.vacancy === 0){ %>
                        <button type="submit" class="btn disabled" disabled>Apply Now</button>
                    <% } else { %>
                        <button type="submit" class="apply-btn btn">Apply Now</button>
                    <% } %>
                </form>
            </div>
        </div>

        <%- include('../includes/flashScript.ejs') %>
        <script src="/js/preventBack.js"></script>
    </body>
</html>
